* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

body {
  font-family: verdana, geneva, serif; }

header {
  padding: 20px 0; }

.container {
  width: 1200px;
  margin: auto; }

.navDiv {
  background: #db008d; }

nav {
  position: relative; }
  nav > ul > li {
    float: left; }
  nav ul::after {
    content: '';
    display: block;
    clear: both; }
  nav ul li a {
    display: inline-block;
    width: 200px;
    text-align: center;
    color: #ffffff;
    padding: 18px 0; }

nav ul ul {
  position: absolute;
  top: 100%;
  background: rgba(0, 184, 228, 0.7);
  display: none; }

nav ul li:hover {
  background: #00b8e4; }
  nav ul li:hover ul {
    display: block; }

main {
  display: grid;
  grid-template-columns: 72% 28%;
  grid-template-rows: 100%; }

.contenido_principal {
  grid-column-start: 1;
  padding-right: 40px; }

article {
  margin-top: 34px; }

h2 {
  color: #00b8e4; }

article h2 {
  margin-bottom: 18px; }

article img {
  float: left;
  width: 300px;
  margin-right: 30px; }

article p {
  line-height: 1.6;
  text-align: justify; }

.boton-lm {
  background: #00b8e4;
  padding: 10px 30px;
  margin: 10px 0;
  display: inline-block;
  color: #ffffff;
  font-weight: bold; }

.aside {
  grid-column-start: 2;
  margin-top: 40px; }
  .aside h2 {
    margin-bottom: 14px; }
  .aside li {
    padding: 10px 0 10px 10px;
    cursor: pointer; }
    .aside li:hover {
      background: #00b8e4; }
    .aside li a {
      color: #00b8e4; }
      .aside li a:hover {
        color: #ffffff; }

footer {
  background: #db008d; }

.footerDiv {
  padding-top: 40px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 2; }
  .footerDiv h2 {
    color: #ffffff;
    margin-bottom: 10px; }

.nosotros {
  grid-column-start: 1;
  grid-row-start: 1; }
  .nosotros p {
    color: #ffffff;
    margin-top: 18px; }

.menu {
  grid-column-start: 2;
  grid-row-start: 1;
  margin-left: auto;
  margin-right: 30px; }

.menu ul li a {
  display: inline-block;
  width: 90px;
  text-align: center;
  color: #ffffff;
  padding: 18px 0; }

.copyright {
  grid-column: 1 / span 2;
  grid-row-start: 2;
  color: #ffffff;
  text-align: center;
  margin: 16px 0; }
